{% extends 'base.html.twig' %}

{% block title %}Ma commande - My French Boutique
{% endblock %}

{% block content %}
	<h2>Ma commande
		{{ order.reference }}</h2><br>
	<a href="{{ path('app_account_order') }}" class="btn btn-info mb-2">Retour</a><br>
	<hr>
	<strong>Statut de la commande :</strong>
	{% if order.state == 1 %}
		Commande validée
	{% elseif order.state == 2 %}
		Préparation en cours
	{% elseif order.state == 3 %}
		Livraison en cours
	{% endif %}
	<br>
	<strong>Commande passée le :</strong>{{ order.createdAt | date('/d/m/Y')}}<br>
	<strong>Référence de ma commande :</strong><small>{{ order.reference }}</small><br>
	<strong>Transporteur choisi :</strong>{{ order.carriername }}
	<hr>
	<strong>Détails</strong>
	<table class="table mt-4">
		<thead>
			<tr>
				<th scope="col">Produit</th>
				<th scope="col">Quantité</th>
				<th scope="col">Prix unitaire</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		{% for product in order.orderDetails %}
			<tbody>
				<tr>
					<td>{{ product.product }}</td>
					<td>x {{ product.quantity }}</td>
					<td>{{ (product.price / 100) | number_format('2', ',', '.') }} €</td>
					<td>{{ (product.total / 100) | number_format('2', ',', '.') }} €</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="text-right">
		<strong>Sous-total :</strong> {{ (order.getTotal / 100) | number_format('2', ',', '.') }} €<br>
		<strong>Livraison :</strong> {{ (order.carrierprice / 100) | number_format('2', ',', '.') }} €<br>
		<strong>Total :</strong> {{ ((order.carrierPrice + order.getTotal) / 100) | number_format(2, ',' , '.') }} €
	</div>
{% endblock %}
